@model IEnumerable<RoomTypeModel>
@{
    ViewData["Title"] = "RoomType";
}

<div class="card">
    <div class="row card-header">
        <h5>Room Type</h5>
    </div>

    <div class="row">
        <div class="col-3 p-4">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#roomTypeAddedModel">Add new Room Type</button>
        </div>
        <div class="modal fade" id="roomTypeAddedModel" tabindex="-1" aria-labelledby="roomTypeAddedModel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Room Type</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form asp-action="AddRoomType" method="post">
                         <div class="modal-body">
                         
                              <div class="mb-3">
                                   <label for="TypeName" class="form-label">Room Type Name</label>
                                   <input type="text" class="form-control" id="TypeName" name="TypeName" placeholder="Standart, Deluxe etc.">
                              </div>
                        
                         </div>
                         <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body px-4">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var RoomType in Model)
                    {
                        <tr>
                            <td>
                                @RoomType.ID
                            </td>
                            <td>
                                @RoomType.TypeName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
